    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
    RewriteRule ^(.*)$ $1 [QSA,E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
